{# src/OP/TradeBundle/views/Trade/checkout.html.twig #}

{% extends '::Layout.html.twig' %}

{% block current %}
    <li ><a href="{{ path('op_trade_homepage') }}">Home</a></li>
    <li class="active"><a href="{{ path('op_trade_billeterie') }}">Billeterie</a></li>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Liste des billets</h3>
        </div>
        <ul class="list-group">
            {% for ticket in commande.tickets %}
                <li class="list-group-item"><span class="ticket-number">Ticket {{ loop.index }} :</span> {{ ticket.name }}   <span class="badge">{{ prix['ticket' ~ loop.index]  }} €</span></li>
            {% endfor %}
        </ul>
        <div class="panel-heading">
            <h3 class="panel-title list-group-item">Prix total : <span class="badge">{{ prix.total }} €</span></h3>
        </div>
    </div>

    <form action="{{ path('op_trade_pay') }}" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_sfeOIEn99pPwFZSdFSGsuPlV"
            data-amount="{{ prix.total }}00"
            data-name="Payement"
            data-description="{% for ticket in commande.tickets %}{% if loop.last %}{{ loop.index }}{% endif %} {% endfor %} billets pour {{ prix.total }}.00€"
            data-locale="auto"
            data-currency="eur">
        </script>
    </form>
<div>
{% endblock %}
