{# src/OP/TradeBundle/views/Trade/prepare.html.twig #}

{% extends '::Layout.html.twig' %}

{% block current %}          
    <li ><a href="{{ path('op_trade_homepage') }}">Home</a></li>
    <li class="active"><a href="{{ path('op_trade_billeterie') }}">Billeterie</a></li>
{% endblock %}

{% block body %}
    <div id="row">
        <h1><span>Billets disponible</span></h1>
    </div>

    <div id="row">
        <p>
            <h2>Informations</h2>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="panel panel-default row">
        <div class="panel-heading">
            <h3 class="panel-title">Horaires :</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Lundi    : 09h00-18h00</li>
            <li class="list-group-item"><strong>Mardi    : Fermé</strong></li>
            <li class="list-group-item">Mercredi : 09h00-22h00</li>
            <li class="list-group-item">Jeudi    : 09h00-18h00</li>
            <li class="list-group-item">Vendredi : 09h00-22h00</li>
            <li class="list-group-item">Samedi   : 09h00-18h00</li>
            <li class="list-group-item"><strong>Dimanche : Fermé</strong></li>
        </ul>
    </div>

    <div class="panel panel-default row">
        <div class="panel-heading">
            <h3 class="panel-title">Commande :</h3>
        </div>
        <ul class="col-sm-offset-1 col-sm-10">
            <br>
            {{ form_start(form, {'attr': {'class': 'form'}}) }}
            {{ form_label(form.visiteDate, "Date de la visite", {'label_attr': {'class': 'col-sm-offset-2 col-sm-2 control-label'}}) }}
            <div class="col-sm-4">
            {{ form_widget(form.visiteDate, {'attr': {'class': 'datepicker', 'data-provide': 'datepicker'}}) }}
            </div><br><br>
            {{ form_widget(form.tickets) }}
            <a href="#" id="add_ticket" class="col-sm-offset-10 btn btn-default">Ajouter un ticket</a>

        </ul>
    </div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}

    <!-- Modal -->
    <div id="modal-price" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Conditions et justificatis tarif réduit :</h4>
                  </div>
                  <div class="modal-body">
                      <p>Le billet tarif réduit est appliqué sous certaines conditions, à savoir les statuts suivant sont éligibles* à cette réduction : employé du musée, d’un service du Ministère de la Culture, militaire, étudiant, chercheur d'emploi...</p>
                      <small>* Sous réserve de présenter le justificatif adéqute (carte d'étudiant, statut pôle emploi, etc...).</small>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                  </div>
            </div>

          </div>
        </div>

        </p>
    </div>
<div>
    <script type="text/javascript">
        var $k = jQuery.noConflict();
        $k(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $k('div#commande_tickets');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $k('#add_ticket').click(function(e) {
                addTicket($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addTicket($container);
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function() {
                    addDeleteLink($k(this));
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addTicket($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Ticket n°' + (index+1))
                    .replace(/__name__/g,        index)
                ;

                // On crée un objet jquery qui contient ce template
                var $prototype = $k(template);

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $k('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }


        });

        jQuery(document).ready(function($) {
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy",
                maxViewMode: 0,
                language: "fr",
                daysOfWeekDisabled: "0,2",
                todayHighlight: true,
                startDate: new Date()
            });
        });

        jQuery(document).ready(function (){
            jQuery('.price_3').append(' - <a href="#" alt="plus d\'infos" data-toggle="modal" data-target="#modal-price">plus d\'informations</a>');
        });
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}