{# src/OP/TradeBundle/views/Trade/prepare.html.twig #}

{% extends '::Layout.html.twig' %}

{% block current %}          
    <li ><a href="{{ path('op_trade_homepage') }}">Home</a></li>
    <li class="active"><a href="{{ path('op_trade_billeterie') }}">Billeterie</a></li>
{% endblock %}

{% block body %}
    <div id="row">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">
                {{ flashMessage }}
            </div>
        {% endfor %}
    </div>

    <div class="row" >
        <div class="col-sm-5">
            <div class="panel panel-default" style="padding: 0;">
                <div class="panel-heading">
                    <h3 class="panel-title">Horaires :</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Lundi    : 09h00-18h00</li>
                    <li class="list-group-item"><strong>Mardi    : Fermé</strong></li>
                    <li class="list-group-item">Mercredi : 09h00-22h00</li>
                    <li class="list-group-item">Jeudi    : 09h00-18h00</li>
                    <li class="list-group-item">Vendredi : 09h00-22h00</li>
                    <li class="list-group-item">Samedi   : 09h00-18h00</li>
                    <li class="list-group-item"><strong>Dimanche : Fermé</strong></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            <div class="panel panel-default " style="padding: 0;">
                <div class="panel-heading">
                    <h3 class="panel-title">Tarifs :</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Tarifs normal (à partir de 12ans)   : 16€</li>
                    <li class="list-group-item">Tarifs senoir (à partir de 60ans)   : 12€</li>
                    <li class="list-group-item">Tarifs enfant (à partir de 4ans*) : 8€</li>
                    <li class="list-group-item">Tarifs réduit (sous certaines conditions**)    : 10€</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Commande :</h3>
            </div>
            <ul class="list-group-item">
                {{ form_start(form, {'attr': {'class': 'form'}}) }}
                <div class="form-group">
                {{ form_label(form.visiteDate, "Date de la visite***", {'label_attr': {'class': 'col-sm-offset-2 col-sm-2 control-label'}}) }}
                <span>Billets disponible pour ce jour : <span id="nombre"></span></span>
                <div class="col-sm-4">
                    {{ form_widget(form.visiteDate, {'attr': {'class': 'datepicker', 'data-provide': 'datepicker'}}) }}
                </div></div>
                <script>

                </script>
                {{ form_widget(form.tickets) }}
                <a href="#" id="add_ticket" class="col-sm-offset-10 btn btn-default">Ajouter un ticket</a>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Commander'}) }}
                {{ form_end(form) }}
            </ul>
        </div>
    </div>

    </div>
    <br><br>
    <em>*L'entrée est gratuite pour les enfants de moins de 4ans.</em><br>
    <em>**Sous réserve de présenter le justificatif adéquate (carte d'étudiant, statut pôle emploi, etc...).</em><br>
    <em>***On peut commander un billet pour le jour même mais vous commanderez un billet "demi-journée" une fois 14h00 passées.</em>
<div>
    <script type="text/javascript">
        var $k = jQuery.noConflict();
        $k(document).ready(function() {

            $k('#commande_visiteDate').blur(function() {
                visiteDate();
            });

            var form = document.querySelector("form");
            form.addEventListener("submit", function (e) {
                var regex = /\d/;
                var error = "";
                [].forEach.call(document.getElementsByClassName('name form-control'), function(v,i,a) {
                    if (regex.test(v.value)) {
                        error = "Votre nom ne peux pas contenir de chiffre";
                        alert(error);
                        e.preventDefault();
                    }
                });
            });


            function visiteDate() {
                var date = document.getElementById("commande_visiteDate");
                var places = 1000;
                if (date.value == "") {
                    document.getElementById("nombre").innerHTML = "";
                } {% for dispo in dispos %}else if (date.value == "{{ dispo.date }}") {
                    var dispo = {{ dispo.nombre }};
                    places = places - dispo;
                    document.getElementById("nombre").innerHTML = places;
                } {% endfor %}else {
                    document.getElementById("nombre").innerHTML = 1000;
                }
            }


            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $container = $k('div#commande_tickets');


            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var index = $container.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $k('#add_ticket').click(function(e) {
                addTicket($container);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
            if (index == 0) {
                addTicket($container);
            } else {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $container.children('div').each(function() {
                    addDeleteLink($k(this));
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addTicket($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Ticket n°' + (index+1))
                    .replace(/__name__/g,        index)
                ;

                // On crée un objet jquery qui contient ce template
                var $prototype = $k(template);

                // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
                addDeleteLink($prototype);

                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                index++;
            }

            // La fonction qui ajoute un lien de suppression d'une catégorie
            function addDeleteLink($prototype) {
                // Création du lien
                var $deleteLink = $k('<a href="#" class="btn btn-danger">Supprimer</a>');

                // Ajout du lien
                $prototype.append($deleteLink);

                // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
                $deleteLink.click(function(e) {
                    $prototype.remove();

                    e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                    return false;
                });
            }
        });


        var d = new Date();
        var n = d.getFullYear();
        var dates = [];

        for (var i = n; i < n + 10; i++) {
            var date1 = "01/05/" + i;
            var date2 = "01/11/" + i;
            var date3 = "25/12/" + i;
            dates.push(date1, date2, date3);
        }

        jQuery(document).ready(function($) {
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy",
                maxViewMode: 0,
                language: "fr",
                daysOfWeekDisabled: "0,2",
                todayHighlight: true,
                startDate: new Date(),
                datesDisabled: dates
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
